.container-fluid {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: white;
    }
}

.page.admin {
    a {
        color: black;
        &.nav-link {
            color: white;
        }

        &:hover {
            color: black;
            &.nav-link {
                color: white;
            }
        }
    }
}

i.bi {
    font-size: 2rem;
    margin: 0 2px;
    @media screen and (max-width: 1000px) {
        font-size: 1.6rem;
    }
}
//
//.bi-instagram {
//    background: #d6249f;
//    background: radial-gradient(
//            circle at 30% 107%,
//            #fdf497 0%,
//            #fdf497 5%,
//            #fd5949 45%,
//            #d6249f 60%,
//            #285aeb 90%
//    );
//    background-clip: text;
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//    &.unset {
//        all: unset;
//    }
//}
//
//.bi-facebook {
//    color: #1877f2;
//}
