//utils
.text_primary {
    color: $primary_color;
}

.text_secondary {
    color: $secondary_color;
}

.text_tertiary {
    color: $tertiary_color;
}

.text_fourtriary {
    color: $fourtriary_color;
}

.disabled-class {
    pointer-events: none;
    opacity: 0.7;
}

.underlined {
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        margin: 1.25rem auto;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 576px) {
            width: 85px;
        }
    }
}
