// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary_color: #0C1011;
$primary_color_fade: #192123;
$secondary_color: #9e49a3;
$tertiary_color: #659498;
$fourtriary_color: #798a8a;
